@import "../abstracts/variables";
@import "../abstracts/helpers";


.blog {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    gap: toRem(100px);
    @media screen and (max-width: 1440px) {
        margin-left: toRem(30px);
        margin-right: toRem(30px);
    }
    @media screen and (max-width: 1152px) {
        margin-left: toRem(20px);
        margin-right: toRem(20px);
        gap: toRem(50px);
    }
    @media (min-width: 1441px) {
        margin-left: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
        margin-right: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
    }

    &__content {
        display: flex;
        align-items: center;
        max-height: toRem(873px);
        max-width: toRem(1556px);
        width: 100%;
        gap: toRem(32px);
        @media screen and (max-width: 1440px) {
            max-height: revert;
        }
        @media screen and (max-width: 1152px) {
            flex-direction: column;
        }

        .text-block__hdl {
            font-family: 'Playfair Display', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 1.33;
            margin-bottom: toRem(24px);
            margin-top: 0;
        }

        .text-block__text {
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 2.17;
            @media screen and (max-width: 1440px) {
                font-size: toRem(18px);
            }
        }

        .text-block__read-more {
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            text-decoration: none;
            color: $primary-color;
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                background-image: url('#{$imgs-path}/readmore-arrow.svg');
                background-repeat: no-repeat;
                display: inline-block;
                width: toRem(28px);
                height: toRem(16px);
                position: absolute;
                right: toRem(-60px);
                transform: translateY(7px);
            }
        }
    }

    &__image {
        max-height: toRem(873px);
        max-width: toRem(762px);
        width: 50%;
        object-fit: contain;
        border-radius: toRem(26px);
        @media screen and (max-width: 1152px) {
            width: 100%;
            object-fit: cover;
            max-width: revert;
            max-height: toRem(555px);
        }
    }

    &__text-block {
        width: 50%;
        @media screen and (max-width: 1152px) {
            width: 100%;
        }
    }
}
