@import "../abstracts/variables";
@import "../abstracts/helpers";


.destinations {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    gap: toRem(100px);
    margin-left: toRem(182px);
    padding-top: toRem(140px);
    padding-bottom: toRem(140px);
    position: relative;
    @media screen and (max-width: 1440px) {
        margin-left: toRem(30px);
        padding-top: toRem(100px);
        padding-bottom: toRem(100px);
    }
    @media screen and (max-width: 1152px) {
        margin-inline: toRem(20px);
        gap: toRem(50px);
        padding-top: toRem(80px);
        padding-bottom: toRem(200px);
    }
    @media screen and (max-width: 768px) {
        padding-bottom: toRem(250px);
    }
    @media (min-width: 1441px) {
        margin-left: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
    }

    .destinations__header {
        max-width: toRem(1616px);
        .section-nav {
            right: toRem(60px);
        }
    }

    .destinations__slider {
        display: flex;
        gap: toRem(32px);
        //@media screen and (max-width: 1152px) {
        //    max-width: calc(100vw - toRem(53px));
        //    width: 100%;
        //}

        .destinations__image {
            transition: transform 400ms ease-in-out;
            min-width: toRem(497px);
            min-height: toRem(661px);
            cursor: pointer;
            @media screen and (max-width: 1152px) {
                display: block;
                min-width: calc(100vw - 60px);

            }
        }

        .destinations__img {
            border-radius: toRem(26px);
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            max-height: toRem(680px);
            @media screen and (max-width: 1152px) {
                object-fit: contain;
                aspect-ratio: 1.6;
            }
        }

    }
}



