@import "../abstracts/variables";
@import "../abstracts/helpers";

.gallery__wrapper{
    margin: toRem(140px) 0 toRem(140px) toRem(182px);
}

.gallery {
    min-height: 100vh;
    background-color: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    gap: toRem(100px);
    &__header {

    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        max-width: toRem(1556px);
        align-items: center;
    }

    &__image {
        max-height: toRem(570px);
    }

    &__image:nth-child(2) {
        padding-bottom: toRem(75px);
    }
}