@import "../abstracts/variables";
@import "../abstracts/helpers";


.gallery {
    //min-height: 100vh;
    padding-bottom: toRem(140px);
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    gap: toRem(100px);
    box-sizing: border-box;
    @media (min-width: 1441px) {
        margin-left: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
        margin-right: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
    }
    @media screen and (max-width: 1440px) {
        margin-inline: toRem(30px);
    }
    @media screen and (max-width: 1152px) {
        margin-inline: toRem(20px);
        padding-bottom: toRem(200px);
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        align-items: center;
        max-width: toRem(1556px);
        @media screen and (max-width: 1152px) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__image {
        max-height: toRem(570px);
        cursor: pointer;
        border-radius: toRem(26px);
        @media screen and (max-width: 1152px) {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 2/1;
        }
        &.active {
            transform: translateY(-10%);
            @media screen and (max-width: 1152px) {
                transform: translateY(0);
            }
        }
    }
}