@import "variables";
@import "helpers";

.travelers-exp {
    min-height: 100vh;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: toRem(240px);
    padding-left: toRem(182px);
    overflow: hidden;
    position: relative;
    gap: toRem(100px);
    .section-header {
        @extend %section-header;

        &__hdl {
            @extend %hdl;

            &::before {
                content: '';
                position: absolute;
                bottom: toRem(-4px);
                left: 0;
                width: toRem(347px);
                height: toRem(3px);
                display: block;
                background-color: $primary-color;
            }
        }

        &__desc {
            @extend %desc;
        }
    }

    &__content {
        display: flex;
        position: relative;
        gap: toRem(32px);
    }

    &__nav-arrows {
        @extend %nav-arrows;
        position: absolute;
        bottom: toRem(-160px);
        left: toRem(1384px);
        .nav-arrows__btn{
            @extend %nav-arrows__btn;
        }
        .nav-arrows__btn--next{
            @extend %nav-arrows__btn--next;
        }
    }
}

.client-box {
    position: relative;
    padding-top: toRem(42px);
    margin-bottom: toRem(100px);
    min-width: toRem(663px);

    &__avatar {
        position: absolute;
        top: toRem(-25px);
        left: toRem(40px);
    }

    &__wrapper {
        background-color: $gray-review;
        padding-inline: toRem(40px);
        padding-top: toRem(60px);
        padding-bottom: toRem(40px);
    }

    &__review {
        color: $secondary-font-color;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        margin: 0;
    }

    &__stars {
        padding-top: toRem(20px);
        padding-bottom: toRem(20px);
        width: toRem(136px);
        .client-box__star {
        width: toRem(24px);
        height: toRem(24px);
        }
    }

    &__user {
        .client-box__name {
            color: $secondary-font-color;
            font-family: 'Playfair Display', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            margin-bottom: toRem(4px);
        }

        .client-box__role {
            color: $secondary-font-color;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
        }
    }

}


