@import "../abstracts/variables";
@import "../abstracts/helpers";

.travelers-exp {
    padding-bottom: toRem(435px);
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;
    gap: toRem(100px);
    box-sizing: border-box;
    @media (min-width: 1441px) {
        margin-inline: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
    }
    @media screen and (max-width: 1440px) {
        margin-inline: toRem(30px);
    }
    @media screen and (max-width: 1152px) {
        padding-bottom: toRem(515px);
    }
    @media screen and (max-width: 768px) {
        margin-left: toRem(20px);
        margin-right: toRem(20px);
        padding-bottom: toRem(700px);
    }
    &__content {
        display: flex;
        position: relative;
        gap: toRem(32px);
    }
    &__nav{
        @media screen and (max-width: 1440px){
            display: flex;
            left: calc(100vw - toRem(240px)) !important;
        }
        @media screen and (max-width: 1152px){
            left: 50% !important;
            bottom: toRem(404px) !important;
            transform: translateX(-50%);
        }
        @media screen and (max-width: 768px){
            bottom: toRem(543px) !important;
            transform: translateX(-50%);
        }
    }
}

.client-box {
    position: relative;
    padding-top: toRem(42px);
    margin-bottom: toRem(100px);
    min-width: toRem(663px);
    @media screen and (max-width: 768px) {
        min-width: calc(100vw);
    }
    &__avatar {
        position: absolute;
        top: toRem(-25px);
        left: toRem(40px);
    }

    &__wrapper {
        background-color: $gray-review;
        padding-inline: toRem(40px);
        padding-top: toRem(60px);
        padding-bottom: toRem(40px);
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            padding-inline: toRem(20px);
        }
    }

    &__review {
        color: $secondary-font-color;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        margin: 0;
        @media screen and (max-width: 768px) {
            margin-right: toRem(40px);
        }
    }

    &__stars {
        padding-top: toRem(20px);
        padding-bottom: toRem(20px);
        width: toRem(136px);
        .client-box__star {
        width: toRem(24px);
        height: toRem(24px);
        }
    }

    &__user {
        .client-box__name {
            color: $secondary-font-color;
            font-family: 'Playfair Display', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            margin-bottom: toRem(4px);
        }

        .client-box__role {
            color: $secondary-font-color;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
        }
    }

}


