@import "variables";
@import "helpers";

.trip-planners{
    min-height: toRem(825px);
    display: flex;
    padding-left: toRem(182px);
    align-items: center;
    .section-header{
        max-width: toRem(394px);
        padding-top: toRem(93px);
        &__hdl{
            @extend %hdl;

            &::before{
                content: '';
                position: absolute;
                bottom: toRem(-4px);
                left: 0;
                width: toRem(231px);
                height: toRem(3px);
                display: block;
                background-color: $primary-color;
            }
        }
        &__desc{
            @extend %desc;
            font-size: 18px;
        }
        &__trip-plans-btn{
            width: toRem(186px);
            height: toRem(61px);
            border-radius: toRem(12px);
            background-color: $primary-color;
            border-width: 0;
            color: $primary-font-color;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            cursor: pointer;
        }
        &__btn-wrapper{
            margin-left: toRem(40px);
            margin-top: toRem(32px);
            width: toRem(186px);
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: toRem(43px);
                height: toRem(43px);
                background-color: $input-font-color;
                left: toRem(-14px);
                top: toRem(-14.5px);
                display: block;
                z-index: -1;
            }
            &::after{
                content: '';
                position: absolute;
                width: toRem(43px);
                height: toRem(43px);
                background-color: $secondary-font-color;
                right: toRem(-18px);
                bottom: toRem(-16px);
                display: block;
                z-index: -1;
            }
        }
    }
    

    &__content{
        position: absolute;
        right: 0;
    }

}
