@import "../abstracts/variables";
@import "../abstracts/helpers";

.trip-planners{
    min-height: toRem(825px);
    display: flex;
    align-items: center;
    gap: toRem(100px);
    @media (min-width: 1441px) {
        margin-left: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
    }
    @media screen and (max-width: 1440px) {
        margin-left: toRem(30px);
    }
    @media screen and (max-width: 1152px) {
        flex-direction: column;
        align-items: flex-start;
        margin-inline: toRem(20px);
    }
        .trip-planners__btn{
            border-radius: toRem(12px);
            background-color: $primary-color;
            border: none;
            color: $primary-font-color;
            cursor: pointer;
            position: absolute;
            left: toRem(60px);
            bottom: toRem(-100px);
            padding: toRem(20px);
            min-width: toRem(186px);
            &::before{
                content: '';
                position: absolute;
                width: toRem(43px);
                height: toRem(43px);
                background-color: $input-font-color;
                left: toRem(-14px);
                top: toRem(-14.5px);
                display: block;
                z-index: -1;
            }
            &::after{
                content: '';
                position: absolute;
                width: toRem(43px);
                height: toRem(43px);
                background-color: $secondary-font-color;
                right: toRem(-18px);
                bottom: toRem(-16px);
                display: block;
                z-index: -1;
            }
        }
    &__content{
        display: flex;
        gap: toRem(32px);
        @media screen and (max-width: 1152px) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__trip{

    }
}

.trip {
    width: toRem(300px);
    height: toRem(545px);
    position: relative;
    @media screen and (max-width: 1152px) {
        width: 100%;
        height: revert;
    }
    &.active {
        .trip__info {
            width: 100%;
        }
    }
    &:not(.active){
        transform: translateY(14%);
        .trip__info {
            opacity: 0;
        }
        @media screen and (max-width: 1152px) {
            transform: translateY(0);
            .trip__info {
                opacity: 1;
            }
        }
    }
    &__image {
        height: toRem(400px);
        margin-bottom: toRem(20px);
        overflow: hidden;
        @media screen and (max-width: 1152px) {
            width: 100%;
            height: revert;
        }
    }
    &__img {
        object-fit: cover;
        min-height: 100%;
        width: 100%;
        border-radius: toRem(26px);
        aspect-ratio: 2/1;
    }
    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: toRem(12px);
        @media screen and (max-width: 1152px) {
            position: relative;
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__type {

    }
    &__price {

    }
    &__dest {
        color: $input-font-color;
    }
    &__rating {

    }
    &__duration {

    }
}
