@import "variables";
@import "helpers";



.destinations{
    min-height: 100vh;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: toRem(140px);
    .section-header{
        @extend %section-header;

        &__hdl{
            @extend %hdl;
            &::before{
                content: '';
                position: absolute;
                bottom: toRem(-4px);
                left: 0;
                width: toRem(365px);
                height: toRem(3px);
                display: block;
                background-color: $primary-color;
            }
        }
        &__desc{
            @extend %desc;
        }
        &__nav-arrows{
            @extend %nav-arrows;
            position: absolute;
            bottom: 0;
            right: toRem(182px);
            .nav-arrows__btn{
                @extend %nav-arrows__btn;
            }
            .nav-arrows__btn--next{
                @extend %nav-arrows__btn--next;
            }
        }
    }

}


