@import "variables";
@import "helpers";

.gallery__wrapper{
    margin: toRem(140px) 0 toRem(140px) toRem(182px);
}

.gallery {
    min-height: 100vh;
    background-color: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    gap: toRem(100px);
    &__header {

    }

    .section-header {
        @extend %section-header;

        &__hdl {
            @extend %hdl;

            &::before {
                content: '';
                position: absolute;
                bottom: toRem(-4px);
                left: 0;
                width: toRem(283px);
                height: toRem(3px);
                display: block;
                background-color: $primary-color;
            }
        }

        &__desc {
            @extend %desc;
        }

        &__nav-arrows {
            @extend %nav-arrows;
            position: absolute;
            bottom: toRem(24px);
            right: 0;

            .nav-arrows__btn {
                @extend %nav-arrows__btn;
            }

            .nav-arrows__btn--next {
                @extend %nav-arrows__btn--next;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        max-width: toRem(1556px);
        align-items: center;
    }

    &__image {
        max-height: toRem(570px);
    }

    &__image:nth-child(2) {
        padding-bottom: toRem(75px);
    }
}