@use 'sass:math';
@import "variables";

$base-font-size: 16px;

@function toRem($value, $base: $base-font-size)
{
  @return math.div($value, $base) * 1rem;
}


%section-header{
  margin-top: toRem(122px);
  width: 100%;
  max-width: toRem(1556px);
  margin-bottom: toRem(100px);
  position: relative;
}

%hdl{
  color: $input-font-color;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: toRem(64px);
  margin: 0;
  padding-top: toRem(18px);
  padding-bottom: toRem(18px);
  display: inline-block;
  position: relative;
}
%desc{
  width: 100%;
  display: inline-block;
  font-family: Rubik, sans-serif;
  font-size: toRem(24px);
  font-weight: 400;
  color: $secondary-font-color;
}

%nav-arrows{
  max-width: toRem(172px);
  display: flex;
  gap: 40px;
  %nav-arrows__btn{
    background-color: $input-font-color;
    display: inline-block;
    width: toRem(60px);
    height: toRem(60px);
    border-radius: toRem(12px);
    position: relative;
    bottom: 0;
    cursor: pointer;
    &::after{
      content: '';
      background-image: url('#{$imgs-path}/arrow2.svg');
      background-repeat: no-repeat;
      display: inline-block;
      width: toRem(12px);
      height: toRem(22px);
      right: toRem(26px);
      position: absolute;
      transform: translateY(19px);
    }
  }
  %nav-arrows__btn--next{
    background-color: $primary-color;
    display: inline-block;
    width: toRem(60px);
    height: toRem(60px);
    border-radius: toRem(12px);
    position: relative;
    cursor: pointer;
    &::after{
      content: '';
      background-image: url('#{$imgs-path}/arrow2.svg');
      background-repeat: no-repeat;
      display: inline-block;
      width: toRem(12px);
      height: toRem(22px);
      left: toRem(26px);
      position: absolute;
      transform: translateY(19px) scaleX(-1);
    }
  }
}