$base-font-size: 16px;

$primary-color: #FF7757;
$secondary-color: #fff;
$gray-review: #f5f6f7;

$primary-font-color: #fff;
$secondary-font-color: #767e86;
$input-font-color: #172432;

$imgs-path: '../images';

html, body {
  font-size: $base-font-size;
}
