@use 'sass:math';
@import "variables";

$base-font-size: 16px;

@function toRem($value, $base: $base-font-size)
{
  @return math.div($value, $base) * 1rem;
}



%section-header{
  width: 100%;
  max-width: toRem(1616px);
  position: relative;
  padding-right: toRem(30px);
  box-sizing: border-box;
  @media screen and (min-width: 1440px){
    .br {
      display: none;
    }
  }
  @media screen and (min-width: 1441px) {
    padding-right: toRem(60px);
  }
}

%hdl{
  color: $input-font-color;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: toRem(64px);
  margin: 0;
  padding-top: toRem(18px);
  padding-bottom: toRem(18px);
  display: inline-block;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: toRem(-4px);
    left: 0;
    width: 60%;
    height: toRem(3px);
    display: block;
    background-color: $primary-color;
  }
  @media screen and (max-width: 1152px){
    font-size: toRem(54px);
  }
  @media screen and (max-width: 768px){
    font-size: toRem(40px);
  }
}
%desc{
  width: 100%;
  display: inline-block;
  font-family: Rubik, sans-serif;
  font-size: toRem(24px);
  font-weight: 400;
  color: $secondary-font-color;
  margin-right: toRem(20px);
  @media screen and (max-width: 1152px){
    font-size: toRem(20px);
  }
  @media screen and (max-width: 768px){
    font-size: toRem(18px);
  }
}

%nav-arrows{
  max-width: toRem(172px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
  bottom: toRem(24px);
  right: toRem(60px);
  @media screen and (max-width: 1152px){
    display: none;
  }
  %nav-arrows__btn{
    background-color: $input-font-color;
    display: inline-block;
    width: toRem(60px);
    height: toRem(60px);
    border-radius: toRem(12px);
    position: relative;
    bottom: 0;
    cursor: pointer;
    &::after{
      content: '';
      background-image: url('#{$imgs-path}/arrow2.svg');
      background-repeat: no-repeat;
      display: inline-block;
      width: toRem(12px);
      height: toRem(22px);
      right: toRem(26px);
      position: absolute;
      transform: translateY(19px);
    }
  }
  %nav-arrows__btn--next{
    background-color: $primary-color;
    display: inline-block;
    width: toRem(60px);
    height: toRem(60px);
    border-radius: toRem(12px);
    position: relative;
    cursor: pointer;
    &::after{
      content: '';
      background-image: url('#{$imgs-path}/arrow2.svg');
      background-repeat: no-repeat;
      display: inline-block;
      width: toRem(12px);
      height: toRem(22px);
      left: toRem(26px);
      position: absolute;
      transform: translateY(19px) scaleX(-1);
    }
  }
}
.mobile-active {
  display: none;
  @media screen and (max-width: 1152px) {
    display: flex;
    bottom: toRem(-100px);
    left: calc(50% - 17px);
    transform: translateX(-50%);
  }
  @media screen and (max-width: 768px) {
  }
}