@import "helpers";

//Fonts: Base Font
$base-font-size: 16px;

//Fonts: Headings: Sizes
$h1: toRem(84px);
$h2: toRem(64px);
$h3: toRem(54px);
$h4: toRem(40px);

//Fonts: Sizes
$font-size-xl: toRem(28px);
$font-size-lg: toRem(24px);
$font-size-md: toRem(20px);
$font-size-sm: toRem(18px);
$font-size-xs: toRem(14px);

//COLORS
$primary-color: #FF7757;
$secondary-color: #fff;
$gray-review: #f5f6f7;

$primary-font-color: #fff;
$secondary-font-color: #767e86;
$input-font-color: #172432;

//Assets: Images path
$imgs-path: '../images';



