@import "../abstracts/variables";
@import "../abstracts/helpers";

.newsltr {
    display: flex;
    padding: toRem(60px) toRem(80px);
    gap: toRem(100px);
    max-width: toRem(1262px);
    position: absolute;
    bottom: toRem(454px);
    left: toRem(90px);
    right: toRem(90px);
    margin-inline: auto;
    box-sizing: border-box;
    background-color: $secondary-color;
    border-radius: toRem(26px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    @media screen and (min-width: 1441px) {

    }

    @media screen and (max-width: 1440px) {
        padding: toRem(60px) toRem(40px);
        gap: toRem(60px);
        left: toRem(36px);
        right: toRem(36px);
    }
    @media screen and (max-width: 1152px) {
        left: toRem(20px);
        right: toRem(20px);
        flex-direction: column;
        padding: toRem(40px) toRem(40px);
    }

    &__hdl {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        color: $secondary-font-color;
        margin: 0;
        @media screen and (max-width: 1440px) {
            font-size: toRem(54px);
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: toRem(32px);
        min-width: toRem(567px);
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            min-width: revert;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: toRem(16px);
        flex-grow: 1;
        @media screen and (max-width: 768px) {
            width: 100%;
            box-sizing: border-box;
        }
    }

    &__label {
        color: $secondary-font-color;
    }

    &__input {
        padding: toRem(24px) toRem(40px);
        border-width: 0;
        background-color: #FFE8D4;
        border-radius: toRem(12px);
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
    &__input::placeholder {
        color: $primary-color;
    }

    &__btn {
        padding: toRem(24.5px) toRem(34.5px);
        border-radius: 12px;
        background-color: $primary-color;
        color: $primary-font-color;
        border-width: 0;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}