@import "../abstracts/variables";
@import "../abstracts/helpers";



%flex-column{
    display: flex;
    flex-direction: column;
    gap: toRem(16px);
}

.footer{
    background-color: $input-font-color;
    padding-top: toRem(240px);
    padding-bottom: toRem(140px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: toRem(159.5px);
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $primary-font-color;
    position: relative;
    box-sizing: border-box;
    @media (min-width: 1441px) {
        padding-left: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
        padding-right: calc((100vw - 1440px) * (182 - 30) / (1920 - 1440) + 30px); /* fluid value */
    }
    @media screen and (max-width: 1440px) {
        padding-left: toRem(30px);
        padding-right: toRem(30px);
    }
    @media screen and (max-width: 1152px) {
        flex-direction: column;
        gap: toRem(60px);
    }
    &__logo-wrapper{
        @extend %flex-column;
    }
    &__logo{

    }
    &__copyright{
        font-size: 14px;
        margin: 0;
    }
    &__menu{
        @extend %flex-column;
        .menu__hdl{
            font-size: 24px;
            margin: 0;
            font-weight: 500;
        }
        .menu__items{
            @extend %flex-column;
            gap: toRem(12px);
            .menu__item{
                font-size: toRem(18px);
                text-decoration: none;
                color: $primary-font-color;
            }
            &.row {
                flex-direction: row;
            }
        }
        .menu__socials-icon{

        }
    }

}
